
.statusDisappeared {
    background-color: #A68583;
}

.statusEndangered {
    background-color: #EB240E;
    color: #fff;
}

.statusShrinking {
    background-color: #EE9D25;
}

.statusRare {
    background-color: #FAFA07;
}

.statusRecovering {
    background-color: #B2BD2C;
}

.statusUndefined {
    background-color: #6EBE0B;
}
